---

import {siteConfig} from "../config";
import {profileConfig} from "../config";

---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        © 2023 {siteConfig.title}. All Rights Reserved.
        <br>
        Powered by <a class="link text-[var(--primary)] font-medium" target="_blank" href="mailto:supp@0day.is">0day.is</a>
    </div>
</div>
